#primary-tabs-region{
  margin-top: 0;
  display: none;
  background-color: red !important;

  .tabs-primary{
    margin: 0;

    ul.nav-tabs{
      border-bottom: none;
    }

    li.nav-item{
      background: transparent;

      a.nav-link{
        color: $white;
        @include rem-2(17, 26);
        margin: 0;
        border: none;
        border-radius: 0;
        padding: 17px 17px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        &.active{
          background: var(--bs-btn-hover-bg-default);
        }

        &:hover{
          background: var(--bs-btn-hover-bg-default);
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  body.user-logged-in{
    #primary-tabs-region{
      display: block;
    }
  }
}

// Sticky handling.
#primary-tabs-region{
  position: sticky;
  top: 0;
  z-index: 10;
}

body.toolbar-fixed{
  #primary-tabs-region{
    top: 39px;
  }
}

@media (min-width: 976px) {
  body.toolbar-fixed{
    &.toolbar-horizontal.toolbar-tray-open{
      #primary-tabs-region{
        top: 79px;
      }
    }
  }
}

// Configuration to play along with Utility and Search bar.
@media (min-width: 1110px) {
  #primary-tabs-region{
    top: 80px;
  }

  body.toolbar-fixed{
    #primary-tabs-region{
      top: 119px;
    }

    &.toolbar-horizontal.toolbar-tray-open{
      #primary-tabs-region{
        top: 166px;
      }
    }
  }
}
